@import "./variables";

.project-section {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    height: 85dvh;

    p {     
            font-size: 20px;
            width: 80%;
            padding-top: 20px;
            margin: 0 auto;
        }
    .btn {
        margin: 0 auto;
    }
}

.things-text {
        font-size: clamp(2.5em, 40px, 3em);

        span {
            color: $third-color;
        }
    }